<footer class="footer ">
    <div class="container-fluid">
        <nav class="pull-left">
            <ul>
                <li>
                    <a href="https://bellepoubelle.fr">
                        BellePoubelle
                    </a>
                </li>
                <li>
                    <a href="https://github.com/bellepoubelle">
                        GitHub du porjet
                    </a>
                </li>
                <li>
                    <a href="mailto:info@bellepoubelle.fr">Nous contacter</a>

                </li>


            </ul>
        </nav>
        <div class="copyright pull-right">
            &copy; {{test | date: 'yyyy'}}, fait avec plaisir par
            <a href="https://bellepoubelle.fr" target="_blank">H4212</a> pour une ville smart.
        </div>
    </div>
</footer>